h1 {
    font-size: 60px;
}

.most-important {
    color: crimson;
    font-weight: bold;
    font-size: 16px;
}

.completed-not-deleted {
    opacity: 0.5;
    text-decoration: line-through;
}
body {
  font-family: 'Satisfy', cursive;
  font-family: 'Staatliches', cursive;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
}
ul {
    margin-left: 600px;
    text-align: left;
}
